<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/images/watchindexWhite.png" class="navbar-brand"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#featuredContainer">Featured Television</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#featuredContainer">Featured Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#watchlistContainer">My Watchlist</a>
                </li>
                <li class="nav-item"></li>
                <button id="loginButton" class="btn btn-rounded btn-sm my-0" type="submit">Login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white d-flex">
    </div>
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <img src="/images/logobig.png" class="heroLogo">
                </h1>
            </div>
            <div class="col-lg-12 mx-auto">
                <div class="text-faded">Search where to find the movie or television show you want to watch.
                    </p>
                    <br>
                    <!-- search bar container -->
                    <div id="searchContainter" class="container">
                        <div class="row">
                            <div class="md-form mx-auto">
                                <form class="form-inline md-form mr-auto mb-8">
                                    <input class="form-control mr-sm-4" type="text" placeholder="Search" aria-label="Search" id="searchContent" size="30px">
                                    <button id="searchForMovie" class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>

<!-- <section id="bar">
    <div class="row">
        <div class="col-lg-1 img-responsive">
            <div id="logoButtons"></div><img src="images/Cracklebutton.png" alt="Crackle">
       <div class="col-lg-1 img-responsive">
            <div id="logoButtons"></div><img src="images/hbogobutton.png" alt="HBO GO">
     <div class="col-lg-1 img-responsive">
            <div id="logoButtons"></div><img src="images/hboNowbutton.png" alt="HBO Now">
      <div class="col-lg-1 img-responsive">
            <div id="logoButtons"></div><img src="images/vudubutton.png" alt="Vudu">
        <div class="col-lg-1">
            <div id="logoButtons"></div><img src="images/Netflixbutton.png" alt="Netflix"></div>
        <div class="col-lg-1">
            <div id="logoButtons"></div><img src="images/itunesbutton.png" alt="iTunes"></div>
        <div class="col-lg-1">
            <div id="logoButtons"></div><img src="images/microsoftbutton.png" alt="Microsoft"></div>
        <div class="col-lg-1">
            <div id="logoButtons"></div><img src="images/HUlibutton.png" alt="Hulu"></div>
        <div class="col-lg-1">
            <div id="logoButtons"></div><img src="images/Fandangobutton.png" alt="Fandango Now"></div>
        <div class="col-lg-1">
            <div id="logoButtons"></div><img src="images/GooglePlaybutton.png" alt="Google Play"></div>
        <div class="col-lg-1">
            <div id="logoButtons"></div><img src="images/Primebutton.png" alt="Prime"></div>
        <div class="col-lg-1">
            <div id="logoButtons"></div><img src="images/FilmStruckButton.png" alt="Hulu"></div>
    </div>
</section>-->

<section class="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading text-white"></h2>
                <p class="text-faded mb-4">
                    <!--{{!-- container for search results --}}-->
                    <div id="resultsContainer" class="row">

                    </div>
            </div>
        </div>
    </div>
</section>

<section class="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading text-white">FEATURED MOVIES</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    <!--{{!-- container for featured content --}}-->
                    <div id="featuredContainer" class="row">

                    </div>
            </div>
        </div>
    </div>
</section>

<section class="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading text-white">Featured Television</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    <!--{{!-- container for featured content --}}-->
                    <div id="featuredContainer" class="row">

                    </div>
            </div>
        </div>
    </div>
</section>

<section class="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading text-white">My Watchlist</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    <!--{{!-- container for search results --}}-->
                    <div id="watchlistContainer" class="row">

                    </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="page-footer">
    <div class="row">
        <div class="copyright">
            <div class="col-sm-12">
                <span>© Copyright</span>
                <div class="row">
                    <div class="copyright">
                        <div class=col-sm-12>
                            <h6>Created by Fernanda Rojas, Rick Montero and Liam Sweeney</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Java Script -->
<script src="js/creative.js"></script>
<script src="js/index.js"></script>