<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/images/watchindexWhite.png" class="navbar-brand"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#featuredMovieContainer">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#featuredTVContainer">Television</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#watchlistContainer">Watchlist</a>
                </li>
                <li class="nav-item"></li>
                <button id="loginButton" class="btn btn-rounded btn-sm my-0" type="submit">Login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Navigation -->
<header class="masthead text-center text-white d-flex">

    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <img src="/images/logobig.png" class="heroLogo">
                </h1>
            </div>
            <div class="col-lg-12 mx-auto">
                <div class="text-faded">Search where to find the movie or television show you want to watch.
                    </p>
                    <br>
                    <!-- search bar container -->
                    <div id="searchContainter" class="container">
                        <div class="row">
                            <div class="md-form mx-auto">
                                <form class="form-inline md-form mr-auto mb-4">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                                        id="searchContent">
                                    <button id="searchForMovie" class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>


<section id="searchResults" class="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading text-white">Search Results</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    <!--{{!container for search results}}-->
                    <div id="resultsContainer" class="row">
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading text-white">Featured Movies</h2>
                <hr class="light my-4">
            </div>
            <!--{{!container for featured content}}-->
        </div>
        <div id="featuredMovieContainer" class="row">
        </div>
    </div>
</section>

<section class="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading text-white">Featured Television</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    <!--{{! container for featured content }}-->
                    <div id="featuredTVContainer" class="row">
                    </div>
            </div>
        </div>
    </div>
</section>

<section class="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading text-white">My Watchlist</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    <!--{{!container for search results}}-->
                    <div id="watchlistContainer" class="row">

                    </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer-copyright text-center">
    <div class="row">
        <div class="col-2 mx-auto">
            <div id="footerCards" class="card mx-auto">
                <img class="card-img-top img-responsive mx-auto" src="https://avatars2.githubusercontent.com/u/6886782?s=400&u=e0ff3db7d4cc6db6623621b9e9f104e37cba8978&v=4"
                    alt="Fernanda Rojas" href="#">
                <div class="card-body text-center">
                    <h4 class="card-title">Fernanda Rojas</h4>
                </div>
            </div>
        </div>

        <div class="col-2 mx-auto">
            <div id="footerCards" class="card mx-auto">
                <img class="card-img-top img-responsive mx-auto" src="https://avatars0.githubusercontent.com/u/37424956?s=460&v=4"
                    alt="Liam Sweeney" href="#">
                <div class="card-body text-center">
                    <h4 class="card-title">Liam Sweeney</h4>
                </div>
            </div>
        </div>
        <div class="col-2 mx-auto">
            <div id="footerCards" class="card mx-auto">
                <img class="card-img-top img-responsive mx-auto" src="https://avatars3.githubusercontent.com/u/36551151?s=460&v=4"
                    alt="Ricardo Montero" href="#">
                <div class="card-body text-center">
                    <h4 class="card-title">Ricardo Montero</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mx-auto creditLine">
                © 2018 Copyright: Created by Fernanda Rojas, Rick Montero and Liam
                Sweeney
            </div>
        </div>
    </div>
</footer>

<!-- Java Script -->
<script src="js/index.js"></script>
<script src="js/creative.js"></script>

<!-- Bootstrap core JavaScript -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>