<div class="container" id="loginForm">
  <div class="card card-container mx-auto">
    <h1 class="text-center mb-5">Watch Index</h1>
    <form class="form-signin">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log in</button>
    </form><!-- /form -->

    <div class="row mx-auto mt-3">
      <div class="col-12 mx-auto">
        <a href="" id="enrollLink">Not enrolled? Sign Up</a> 
      </div>
    </div>
  </div><!-- /loginForm card-container -->
</div><!-- /loginForm container -->

{{!-- <div class="container" id="signUpForm">
  <div class="card card-container mx-auto">
    <h1 class="text-center mb-5">Watch Index</h1>
    <form class="form-signUp">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign Up</button>
    </form><!-- /form -->

    <div class="row mx-auto mt-3">
      <div class="col-12 mx-auto">
        <a href="" id="loginLink">Already enrolled? Sign In</a> 
      </div>
    </div>
  </div><!-- /signUpForm card-container -->
</div><!-- /signUpForm container --> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/index.js"></script>